.CaroCaro{
    /* padding-top: 20%; */
    margin-top: 60% !important;
    height: 40rem !important;
}
.CaroCaro_1{
    margin-top: 68%;
}
.botton_list{
    width: 120px !important;
    height: 35px !important;
    background-color: rgb(0, 0, 0) !important;
    color: rgb(255, 255, 255) !important;
    text-align: center !important;
    
}

.carousel_div {
    position: relative !important;
    width: 100% !important;
    height: 500px !important;
    background-color: rgb(0, 0, 0);
    margin-top: 5% !important;
    
  } 

  .carousel_image_box{
    position: relative !important;
    width: 100% !important;
    height: 550px !important;
    background-color: red;
    margin-top: 5% !important;
    
  }

.caroursel_image {
    height: 100% !important;
}
  

.carousel_text{
        position: absolute !important;
        top: 100px !important;
        right: 100 !important;
        margin-top: 50px !important;
        
      }
   
.carousel_header_text{
     font-family: 'Poppins', sans-serif;
     font-weight: 900;
}