.about_box{
    /* margin-top: 400px  !important; */
    margin-left: -50px;
    margin-top: 2% !important;
    margin-bottom: 10% !important;
    padding-top: 10% !important;

    
}

.about_image{
    box-shadow: 0 4px 8px 
    0 rgb(101, 75, 2), 
    0 10px 50px 
    0 rgb(255, 255, 255) !important;
}

.card_mainBox_Style{
    color: #000000;
    height: 50px !important;
    width: 500px !important;
    
    /* border-radius: 20px !important; */
}

.cardStyle{
    background-color: black;
    background-color: #01020c;
    background-color: #4e1b04;
    background-image: linear-gradient(53deg, #895306 0%, #000000 46%, #000000 100%);
    border-color:linear-gradient(43deg, #895306 0%, #000000 46%, #000000 100%) !important;
    margin-left: -20px;
}

.P_Text_head{
    font: bold;
    color: #fff;
}

.P_Text{
    color: #fff;
    font-weight: 500;
    
}